body {
    margin: 0;
}
.input {
    display:block;
}
.btn {
    color: black;
    font-size: 1.25em;
    padding: .4em;
    border-radius: .4em;
}
.btn:hover {
    background-color: rgb(94, 199, 196);
}
.red:hover {
    background-color: rgb(199, 95, 95);
}
/* ==========
Modal
===========*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10% 0; /* Location of the box */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
              
.modal-content {
    font-size: 1.25em;
    display:flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    background-color: rgb(237, 237, 237);
    margin: 0 auto;
    padding: 3em 0;
    border: 1px solid #888;
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-content input{
    margin-bottom: 1.5em;
    font-size: 1.25em;
}
.modal-button {
    display:flex;
    gap: 3em;
}
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* ==========
Layout
===========*/
.grid {
    
    display:grid;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 20em);
    border: 1px solid black;
    justify-content: center;
    gap: 3em;
}
.grid div {
    
    height: 20em;
    border: 1px solid orange;
    
}

.grid div p {
    font-size: 1.5rem;
}
